.route__heading{
    margin: 0;
    padding: 25px 0;
}
.route{
    position: relative;
    text-align: left;
    margin: 0 10%;
    padding: 0 20px;
    border-left: 10px solid rgb(39, 39, 39);
    padding-bottom: 20px;
    margin-top: -20px;
    border-radius: 5px;
}
.route h6{
    margin: 5px 0;
}
.route img{
    position: absolute;
    left: -8px;
    top: 3px;
}
.llast{
    padding-bottom: 0px;
    margin-bottom: -20px;
}